/* Default Styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Fonts */

@font-face {
	font-family: "JetBrains Mono";
	font-display: swap;
	src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	src: url("/assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

/* Webserv Styles */

:root {
	font-size: 62.5%;
	font-family:
		"Inter",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	--background: #fafaff;
	--foreground: #1c1c1c;
	--http-color: #16db65;
	--badge-color: #240046;
	--success-color: var(--http-color);
	--error-color: #a31621;
}

button {
	border: none;
	background-color: inherit;
}

button:hover {
	cursor: pointer;
}

body {
	display: grid;
	gap: 2.5rem;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--foreground);
}

header {
	font-size: 5rem;
	text-align: center;
	padding: 3rem;
}

ul {
	display: grid;
	list-style: none;
	padding-inline: 0;
}

main {
	font-size: 2.25rem;
	display: flex;
	flex-direction: column;
	max-width: 80%;
	justify-self: center;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	font-size: 1.75rem;
	justify-self: center;
	align-self: end;
	display: grid;
	gap: 1rem;
	grid-auto-flow: column;
	justify-items: center;
	padding-bottom: 1rem;
}

#gh-icon {
	width: 2.5rem;
	height: 2.5rem;
}

/* index.html */

#index-section {
	font-size: 3rem;
	gap: 5rem;
}

.links-list {
	gap: 5rem;
	grid-template-columns: 1fr 1fr;
}

.request {
	font-family:
		"JetBrains Mono",
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1.5rem;
	align-items: center;
	padding: 1.5rem;
	border-radius: 2.25rem;
	text-decoration: none;
	font-size: 3.5rem;
	color: var(--foreground);
	transition:
		transform 0.25s,
		color 0.25s ease-out;
}

.request>p:nth-of-type(2) {
	justify-self: end;
}

.request:hover {
	transform: translate(-0.2rem, -0.2rem);
	color: var(--http-color);
}

.request>p:last-of-type {
	font-size: 1.75rem;
	font-style: italic;
	grid-column: 1 / 3;
	justify-self: center;
}

.method {
	background-color: var(--badge-color);
	color: var(--background);
	padding: 0.75rem;
	border-radius: 2rem;
}

/* about.html */

#project,
#team {
	align-items: start;
	gap: 3rem;
	padding-bottom: 2.5rem;
}

#project>h2,
#team>h2 {
	align-self: center;
}

#project {
	padding-bottom: 7.5rem;
}

#team-list {
	align-self: center;
	display: flex;
	gap: 5rem;
}

.team-member {
	display: grid;
	gap: 1rem;
	justify-items: center;
}

.team-member>a {
	width: 10rem;
	height: 10rem;
}

.member-name {
	font-size: 3rem;
	font-weight: bold;
}

.member-login {
	font-size: 2rem;
	font-weight: lighter;
	font-style: italic;
}

/* contact.html */

#contact {
	gap: 2.5rem;
	font-size: 2.5rem;
}

#contact-form {
	display: grid;
	gap: 1.5rem;
}

.input-container {
	position: relative;
	display: grid;
	gap: 0.5rem;
}

.input-container>label {
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: 0.10rem;
	padding-left: 1rem;
}

.input-container>input,
.input-container>textarea {
	resize: none;
	outline: none;
	background-color: inherit;
	border: 2px solid var(--badge-color);
	border-radius: 1.25rem;
	padding: 1rem;
	transition: border 0.25s ease-in;
}

.input-container>input:focus,
.input-container>textarea:focus {
	border: 4px solid var(--badge-color);
}

#result {
	font-style: italic;
	font-size: 2rem;
}

#result:not(.error) {
	color: var(--success-color);
}

#result.error {
	color: var(--error-color);
}

#dir-list-section {
	font-size: 2.5rem;
	gap: 2rem;
}

.dir-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.file-link {
	position: relative;
	color: var(--badge-color);
	text-decoration: none;
	font-style: italic;
	transition: color 0.25s ease-in;
}

.file-link::before {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	width: 0; 
	height: 2px;
	background-color: var(--http-color);
	transition: width 0.25s ease-out;
}

.file-link:hover {
	color: var(--http-color);
}

.file-link:hover::before {
	width: 100%;
}

#error-section {
	color: var(--error-color);
	letter-spacing: 0.1rem;
}
